@keyframes onLoadingPadding {
  0% {
    padding: 1em;
  } 100% {
    padding: 0em;
  }
}

@keyframes onLoadingBorder {
  0% {
    border-width: 1em;
  } 100% {
    border-width: 0;
  }
}

@keyframes menuSlideIn {
  0% {
    width: 0%;
  } 100% {
    width: 100%;
  }
}

@keyframes topSlideIn {
  0% {
    top: -100%;
  } 100% {
    top: 0;
  }
}