$badass: #bada55;

$clr-main: #FFDE00;
$clr-fade: #FFEE7F;
$clr-accent: #00a1ff;
$clr-accent-dark: #004a76;
$clr-dark: #222222;
$clr-medium: #676767;
$clr-light: #FFFFFF;

$font: 'Work Sans', 'Futura', 'Avenir Next', Arial, Verdana, sans-serif;
$regular: 400;
$semi-bold: 600;

$h1: 3.9975843648em; // 71,9565185667 px
$h2: 2.827145944em; // 50,888626992 px
$h3: 1.999396em; // 35,989128 px
$h4: 1.414em; // 25,452 px
$p: 1em; // 18 px
$h5: 0.7072135785em; // 12,729844413 px
$h6: 0.5001510456em; // 9,0027188211 px

$s-break: 550px;

$bdr: 1em;